<mat-toolbar color="primary">JSON to Reactive Form</mat-toolbar>
<div class="container">
  <div class="row pt-4 px-4">
    <mat-form-field appearance="outline">
      <mat-label>Form Name</mat-label>
      <input type="text" [(ngModel)]="formNameText" class="w-100" matInput />
    </mat-form-field>
  </div>
  <div class="row pb-4 pt-2 px-4">
    <div class="col">
      <mat-form-field class="height-style" appearance="outline">
        <mat-label>JSON</mat-label>
        <textarea [(ngModel)]="jsonText" class="w-100" matInput></textarea>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Reactive Form</mat-label>
        <textarea [(ngModel)]="formText" class="w-100" readonly matInput #formOutput></textarea>
        <div class="row">
          <div class="col"></div>
          <div class="col-auto"><button class="copy-button" *ngIf="!jsonInvalid && formText.length > 0"
              (click)="copyFormToClipboard(formOutput)" mat-mini-fab color="accent"
              aria-label="Example icon button with a bookmark icon">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>

      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-auto justify-content-center">
      <button [disabled]="formNameText == null || jsonText == null || formNameText.length == 0 || jsonText.length == 0"
        (click)="generateReactiveForm()" mat-raised-button color="accent">GENERATE REACTIVE FORM</button>
    </div>
    <div class="col"></div>
  </div>
</div>